<% include header.ejs %>
<div class="container-fluid">
    <div class="row" style=" margin:5px;">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <select style="width:100px;" id="showList">
                <option value=""></option>
                <option value="show1">nicat1</option>
                <option value="show2">nicat2</option>
            </select>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-1" style="color:#fff; text-align:center;">
            <a href="/signout" style="color:#fff; text-decoration:none;">sign out</a>
        </div>
        <div class="col-md-1" style="color:#fff; text-align:center;">
            <a href="/signin" style="color:#fff; text-decoration:none;">sign in</a>
        </div>
    </div>
    <div class="row" id="list1">
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
    </div>
    <div class="row" id="list2">
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
        <div class="col-md-3" style="color:#fff; border:1px solid #fff;">nicat</div>
    </div>
</div>

<% include footer.ejs %>