<% include header.ejs %>
<div>
    <form method="post" action="/signup">
        <h1 style="color:#fff;"><%= title %></h1>
        <div>

            <input type="text" id="username" name="username" value="nicat">
        </div>
        <div>
            <input type="password" id="password" name="password" value="nicat">
        </div>
        <div>
            <button type="submit">sign up</button>
        </div>
        </fieldset>
    </form>
</div>
<% include footer.ejs %>